.projectTitle {
  text-align: center;
}

footer {
  text-align: center;
}

.contact {
  text-align: center;
}

.socialMedia {
  text-align: center;
}

.container-md,
.container-LG {
  background-image: url("./images/josue-soto-bsmCBJwAbPw-unsplash.jpg");
}

.card-text,
.card-title,
.sm-6,
.projectTitle,
.card,
.container-md {
  color: whitesmoke;
}
